.bio-0page 
  {
    width: 1220px;
    height: 505px;
    margin-top: 40px;
    border-style: ridge;
    border-width: 7px;
    border-radius: 20px;
    border-color: brown;
    background-color: rgb(245, 225, 210);
    font-family: "Birthstone";
    font-size: 16px;
    font-weight: 600;
    
  }
  

