 /*     space for label "Birth" */

 .bio-5birth-label
 { 
   grid-row-start: 1;
   grid-row-end: 1;
   grid-column-start: 2;
   grid-column-end: 2;
   width: 30px;
   height: 20px;
   margin-top: 6px;
   background-color: rgb(246, 234, 223);
   border-style: ridge; 
   border-width: 1.5px;
   border-radius: 5px;
   border-color: brown;
   text-align: center;
   margin-top: 65px;
 }
 