/*      Define space for biographical info
*/
.bio-container 
{
  display: grid;
  width: 1210px;
  height: 450px;
  grid-template-rows: 75px 75px 75px 75px 75px  75px;
  grid-template-columns: 350px 32px 200px 32px 200px 50px 205px;
  column-gap: 10px;

}