/*   space for bio text   */

.bio-10text          
{ 
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 7;
  width: 800px;
  height: 130px;
  margin-top: 10px;
  border-style: ridge; 
  border-width: 1.5px;
  border-radius: 5px;
  border-color: brown;
  font-family: "Birthstone";
  font-size: 15px;
  font-weight: bold;
  padding-left: 5px;
}
