/* space for death data: date/place/burial */

.bio-8death-data            
{ 
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 5;
  grid-column-end: 5;
  width: 210px;
  height: 95px;
  margin-top: 65px;
  margin-left: 3px;
  margin-right: 10px;
  background-color: rgb(246, 234, 223);
  border-style: ridge; 
  border-width: 1.5px;
  border-radius: 5px;
  border-color: brown;
  font-size: 14.5px;
  padding-left: 5px;
}