  /*    defines space for masthead to hold name of individual
  */

.bio-1masthead 
{
  text-align: center;
  width: 600px;
  height: 40px;
  margin-top: 10px;
  margin-left: 300px;
  background-color: rgb(246, 234, 223);
} 
