/*    space for caption "Death" */             

.bio-7death-label             
{ 
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 4;
  grid-column-end: 4;
  width: 34px;
  height: 20px;
  margin-top: 65px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: rgb(246, 234, 223);
  border-style: ridge; 
  border-width: 1.5px;
  border-radius: 5px;
  border-color: brown;
  text-align: center;
}

