/*    space for caption "Marriage" */

.bio-6marriage-label            
{ 
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 6;
  grid-column-end: 6;
  width: 50px;
  height: 20px;
  margin-top: 65px;
  margin-left: 20px;
  margin-right: 10px;
  border-style: ridge; 
  border-width: 1.5px;
  border-radius: 5px;
  border-color: brown;
  font-family: "Birthstone";
  font-weight: 700;
  text-align: center;
}



