/*    space for marriage data: spouse/date/place */

.bio-7marriage-data {            
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 7;
  grid-column-end: 7;
  width: 205px;
  height: 85px;
  margin-top: 65px;
  margin-left: 20px;
  border-style: ridge; 
  border-width: 1.5px;
  border-radius: 5px;
  border-color: brown;
  font-family: "Birthstone";
  font-size: 15px;
  font-weight: bold;
  padding-left: 5px;
}
